<!--
<ion-header id="head">
  <ion-toolbar>
    <img src="../../../assets/weed/8,1.png">
  </ion-toolbar>
</ion-header>
-->

<ion-content >
  <ion-slides pager="true">

    <ion-slide>
      <div class="container ion-padding">
        <div class="collect ion-padding">

          <ion-item style="width: 100%; height: 200px;">
            <div class="img">
              <img height="300px" src="../../../assets/weed101/chocolope.jpg">
            </div>
          </ion-item>
          <div class="itemInfo">

          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container ion-padding">
        <div class="collect ion-padding">

          <ion-item>
          <div class="img">
            <img height="300px" src="../../../assets/weed101/masterKush.jfif">
          </div>
        </ion-item>
          <div class="itemInfo">

          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container ion-padding">
        <div class="collect ion-padding ">

        <ion-item>
          <div class="img">
            <img height="300px" src="../../../assets/weed101/whiteRussian.jfif">
          </div>
        </ion-item>
          <div class="itemInfo">

          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

