<ion-header>
  <ion-toolbar>
    <img src="../../../assets/weed/8,1.png">
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="container ion-padding">
        <div class="collect ">
         
            <div class="img">
              <img src="../../../assets/weed101/chocolope.jpg">
            </div>
          <div class="itemInfo">
 
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container ion-padding">
        <div class="collect ion-padding">
          <div class="img">
            <img src="../../../assets/weed101/masterKush.jfif">
          </div>
          <div class="itemInfo">

          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container ion-padding">
        <div class="collect ">
          <div class="img">
            <img src="../../../assets/weed101/whiteRussian.jfif">
          </div>
          <div class="itemInfo">

          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
  
<!--<ion-toolbar>
  <div class="badge">
    <ion-buttons slot="end">
      <ion-icon   size="large" name="bag-check"></ion-icon>
    </ion-buttons>
    
  </div>
</ion-toolbar>
-->