 <!-- <ion-header> -->
<ion-toolbar style="background-color: black;">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Marijuana</ion-title>
</ion-toolbar>
 <!-- </ion-header> -->

 <ion-content>
 <ion-tabs style="background-color: grey;">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tap1">
        <ion-label>Raw</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="tap2">
        <ion-label>Rolled</ion-label>  
      </ion-tab-button>

      <ion-tab-button  tab="tap3">
        <ion-label>Seeds</ion-label> 
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>