
<ion-header>
 <ion-toolbar>
  <img src="../../../assets/weed/8,1.png"> 
</ion-toolbar>
</ion-header>


<ion-toolbar class="taps">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tap1">
        <ion-label>Raw</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button  tab="tap2">
        <ion-label>Rolled</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button  tab="tap3">
        <ion-label>Seeds</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>



<!--

 <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

/*//////////////////////

   <ion-tabs>

      <ion-tab-bar slot="top">
        <ion-tab-button tab="login">
          <ion-label>Row</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-label>PreRolled</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-label>Seeds</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
-->