
<ion-content>
    <div id="map"></div>

    <div class="eg"></div>

    <div class="btn" (click)="mapDirection()"> Go
    </div>
</ion-content>
<ion-footer>
    <ion-buttons class="ion-padding">
        <ion-button (click)="viewD()" >
            <label>direction</label>
        </ion-button>
        <ion-button (click)="marker()">
            <ion-icon  name="map-outline"></ion-icon>
        </ion-button>
        <ion-button >
            <ion-icon name="map-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-footer>