
.container{
    background-color:ghostwhite;
    width: 100vw;
    height: 90vh;
    .collect{
        width: 90%;
        height: 95%;
        margin: auto;
        text-align: center;
        align-items: center;
        border-bottom-left-radius:20px ;
        border-top-left-radius: 20px;
        border-bottom-right-radius:20px ;
        border-top-right-radius: 20px; 
        color: forestgreen;
        box-shadow: 2px 2px 5px 0px;

        .img{
            width: 95%;
            height: 100%;
            margin: auto;
            text-align: center;
            align-items: center;
            border-radius: 50%;
            background-color:rgb(34, 139, 34,0.7);
            img{
                width: 90%;
                height: 95%;
                margin: auto;
                text-align: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }  
}