<ion-content>
  <div style="width: 100vw; height: 100vh; background-color: forestgreen;">
    
    <ion-grid class="ion-padding">

      <ion-row class="ion-padding">
        <ion-col>
          <div>1 of 1</div>
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-padding">
        <ion-col>
          <div>1 of 2</div>
        </ion-col>
        <ion-col>
          <div>2 of 2</div>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-padding">
        <ion-col>
          
        </ion-col>
        <ion-col>
          <div>2 of 3</div>
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>  
</ion-content>
