* {
  font-family: cursive;
}
.contain {
  width: 100vw;
  height: 100vh;
  // background-color: antiquewhite;
  background-image: url("../../assets/5.png");
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;

  .nev {
    width: 100%;
    height: 10%;
    border-bottom: 1px black solid;
    border-radius: 15px;
    #title {
      color: blue;
      margin: auto;
      text-align: center;
      line-height: 50px;
    }

    .img {
      width: 30%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      clear: both;
    }
  }
}

#item,#text{
  margin: auto;
  width: 300px;
}

.details{
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  #input{
    background-color: transparent;
  }
}