* {
  font-family: cursive;
}
.contain {
  width: 100vw;
  height: 100vh;
   background-color: antiquewhite;
  //background-image: url("../../assets/5.png");
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;

  .nev {
    width: 100%;
    height: 10%;
    border-bottom: 1px black solid;
    border-radius: 15px;
    #title {
      color: blue;
      margin: auto;
      text-align: center;
      line-height: 50px;
    }

}
}
