<div class="contain ion-padding">

  <div class="collection">
    <div>
      <ion-text id="text">Login </ion-text>
    </div>
    <div class="log ">
      <ion-input clearInput placeholder="Email" type="email"></ion-input>
    </div>
    <div class="log ">
      <ion-input clearInput placeholder="password" type="password"></ion-input>
    </div>
    <div class="btn">
      <ion-button fill="outline" style="width: 100%;">dsfdsfds</ion-button>
    </div>
    <div class="tosignUp">
      <ion-item  slot="end">
      <ion-text >Create an account? </ion-text>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-item>
    </div>
  </div>

</div>
<ion-footer style="background-color: aquamarine;" class="footer">
  <ion-label>@Lets get fucked up together</ion-label>
</ion-footer>
<!--  <ion-text id="text" style="margin: 5px 0px 50px 30px; align-items: center; padding-bottom: 50px;">Login to your account</ion-text>-->