<!--<div class="contain">

  <div class="nev">
    <ion-title id="title">WeedShop</ion-title>
    <div class="img">

    </div>

    <ion-text id="text" style="margin: 5px 0px 0px 30px; align-items: center;" >Login to your account</ion-text>

    <ion-content>
      <ion-item id="item">
        <ion-input type="text"></ion-input>
        <ion-item slot="end" >
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
      </ion-item>
    </ion-content>
    
    <ion-content>
      <ion-item id="item">
        <ion-input  type="text"></ion-input>
        <ion-item slot="end" >
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
      </ion-item>
    </ion-content>
  </div>
</div>-->

<div class="contain">

  <div class="nev">
    <ion-title id="title">WeedShop</ion-title>
  </div>
  <div class="details">
    <input  id="input" type="text">
  </div>
</div>